<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<!-- <link rel="stylesheet" href="" th:href="@{/css/home.css}"> -->
	<link rel="icon" type="image/icon type" th:href="@{/images/favcon.png}">
	<link rel="stylesheet" href="" th:href="@{/css/sign.css}">

<title>Mobile Shop Login</title>
</head>
<body>
<!-- Navbar -->
    <section id="nav-bar">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#"><img th:src="@{/images/9.jpg}" alt="logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/login" onclick="myFunction()">Home</a>
                </li>
      <li class="nav-item active">
        <a class="nav-link" href="/login" onclick="myFunction()">About </a>
      </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/login" onclick="myFunction()">Contact</a>
                  </li>
              </ul>
              <form class="form-inline my-2 my-lg-0">
      <a href="/signup" class="btn btn-light my-2 my-sm-0 mr-1" type="submit">Signup</a>
    </form>
  </div>
  </nav>
  <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>
  </section>
<div class="container mt-5">
<form th:action="@{/login}" th:object="${user}" method="post">
<h2>Login Form</h2>
  <div class="form1">
        <input type="email" name="email" autocomplete="off" required>
        <label for="email" class="label-name">
            <span class="content-name">Email</span>
        </label>
    </div>
  <div class="form1">
        <input type="password" name="password" autocomplete="off" required>
        <label for="password" class="label-name">
            <span class="content-name">Password</span>
        </label>
    </div>
  <button type="submit" class="btn btn-primary">Login</button>
  <p>Not have account <a href="/signup">Sign up.</a></p>
</form>
<img th:src="@{/images/login1.jpg}" alt="logo" >
</div>
<!-- Optional JavaScript -->
<script>
function myFunction() {
  alert("Can't access without login");
}
</script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>